body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
}

nav {
    display: flex;
    padding: 0 20px 0 20px;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav #back {
    cursor: pointer;
}

nav div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .p1 {
    font-size: 15px;
    font-weight: bold;
}

nav div img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid white;
}

.mychats {
    padding: 10px;
}

.mychats .chat-container{
    height: 83vh;
    overflow-y: auto;
    transform: rotate(180deg);
}
.mychats .chat{
    transform: rotate(180deg);
}

/* hide scrollbar of overflow */
.mychats .chat-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* hide scrollbar of overflow two */
.mychats .chat-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mychats .row .d1 {
    color: white;
    display: flex;
    justify-content: start;
    gap: .5rem;
    padding: 10px;
}

.mychats .row .d2 {
    justify-content: end;
}

.mychats .row .d1 img {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50px;
}

.mychats .row .d1 p {
    background-color: white;
    color: black;
    padding: 10px;
    width: 80%;
    border-radius: 0 20px 0 20px;
}

.mychats .row .d2 p {
    background-color: rgb(14, 240, 14);
    padding: 10px;
    width: 80%;
    color: black;
    border-radius: 20px 0 20px 0;
}

.mychats .row .d1 p .name {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.sendmsg{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.sendmsg textarea{
    width: 89vw;
    outline: none;
    font-weight: 800;
}
.sendmsg .fa-paper-plane{
    filter: grayscale(100%);
}
.sendmsg textarea:focus{
    outline: none;
}
#emojiPickerContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none;
}
emoji-picker section.search-row {
    display: none !important;
}
#emoji, #send, #mic-button{ cursor: pointer; }

#mic-button{
    font-size: 20px;
}

#mic-button.active{ 
    animation: zoom 2s ease-in-out infinite;
}
/* Notification styles */
#recording-notification {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #ff4b4b;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#recording-notification.active {
    display: block;
    opacity: 1;
}

@keyframes zoom {
    0%, 100%{
        transform: scale(1.5);
    }50%, 60%{
        transform: scale(1.1);
    }
}



/* phone */
@media(max-width: 486px) {
    nav .p1 {
        display: none;
    }

    .mychats,
    .mychats .row .d1 {
        padding: 5px;
    }

    .mychats .row .d1 img {
        width: 20px;
        height: 20px;
    }

    .mychats .row .d1 p {
        font-size: 12px;
    }
    .sendmsg{
        gap: .8rem;
    }
    .sendmsg textarea{
        width: 68vw;
        outline: none;
        font-weight: 800;
    }
    #emojiPickerContainer {
        width: 100%;
        height: 200px;
        overflow-y: auto;
    }
    #emojiPickerContainer emoji-picker {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .sendmsg.emoji-active {
        bottom: 200px;
    }
    #recording-notification {
        font-size: 15px;
    }
}

@media(min-width: 487px) and (max-width: 658px) {
    nav .p1 {
        display: none;
    }

    .mychats,
    .mychats .row .d1 {
        padding: 5px;
    }

    .mychats .row .d1 img {
        width: 20px;
        height: 20px;
    }

    .mychats .row .d1 p {
        font-size: 12px;
    }
    .sendmsg{
        gap: 1rem;
    }
    .sendmsg textarea{
        width: 75vw;
        outline: none;
        font-weight: 800;
    }
    #emojiPickerContainer {
        width: 100%;
        height: 200px;
        overflow-y: auto;
    }
    #emojiPickerContainer emoji-picker {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .sendmsg.emoji-active {
        bottom: 200px;
    }
    #recording-notification {
        font-size: 15px;
    }
}

/* tab */
@media(min-width: 659px) and (max-width: 1024px) {
    .sendmsg{
        gap: 1.3rem;
    }
    .sendmsg textarea{
        width: 80vw;
        outline: none;
        font-weight: 800;
    }
    #emojiPickerContainer {
        width: 100%;
        height: 250px;
        overflow-y: auto;
    }
    #emojiPickerContainer emoji-picker {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .sendmsg.emoji-active {
        bottom: 250px;
    }
    #recording-notification {
        font-size: 15px;
    }
}


/* tab */
@media(min-width: 1025px) and (max-width: 1300px) {
    .sendmsg{
        gap: 1rem;
    }
    .sendmsg textarea{
        width: 89vw;
        outline: none;
        font-weight: 800;
    }
}

/* tab */
@media(min-width: 1301px) and (max-width: 1500px) {
    .sendmsg{
        gap: 1.4rem;
    }
    .sendmsg textarea{
        width: 89vw;
        outline: none;
        font-weight: 800;
    }
}