/* phone */
@media(max-width: 786px) {
    body {
        background: black
    }
    nav .logo img {
        width: 50px;
    }

    .navbar-links {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-right: 10%;
    }

    .hero .bigside-nav{
        display: none;
    }
    
    .navbar .fa-power-off {
        display: none;
    }

    .side-nav .second{
        margin-top: 280px;
    }

    .hero .content{
        margin-top: 15%;
        padding: 5px 5px;
        margin-left: 1%;
        width: 94%;
    }
    
    .hero .content{
        font-size: 15px;
        color: white;
    }
    
    footer {
        display: flex;
    }
}


/* tab */
@media(min-width: 787px) and (max-width: 1024px) {
    /* login */
    .accounts h1 {
        font-size: 20px;
    }

    .accounts .login .two,
    .accounts .register .two {
        width: 90%;
    }

    .accounts label {
        font-size: 18px;
    }

    .accounts .login .two button,
    .accounts .register .two button {
        padding: 10px;
    }

    .accounts .login .suggest p,
    .accounts .register .suggest p {
        font-size: 14px;
    }

    /* sports */
    .menu-icon {
        display: block;
        margin-right: 7%;
    }

    .hero .bigside-nav{
        display: none;
    }
    
    .navbar .fa-power-off {
        display: none;
    }

    .hero .content{
        padding: 5px 5px;
        margin-left: 1%;
        width: 96%;
        margin-top: 5%;
    }

    .content .two .twoinner{
        padding-bottom: 20px;
    }

    .content .two .twoinner button{
        width: 20%;
    }
}


/* tab */
@media(min-width: 1024px) and (max-width: 1300px) {
    /* sports */
    .menu-icon {
        display: block;
    }

    .hero .bigside-nav{
        display: none;
    }
    
    .navbar .fa-power-off {
        display: none;
    }

    .hero .content{
        padding: 5px 5px;
        margin-left: 1%;
        width: 97%;
    }
}