/* phone */
@media(max-width: 786px) {
    body {
        background: black
    }
    nav .logo img {
        width: 50px;
    }

    .navbar-links {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-right: 10%;
    }

    .hero .bigside-nav{
        display: none;
    }
    
    .navbar .fa-power-off {
        display: none;
    }

    .side-nav .second{
        margin-top: 280px;
    }

    .hero .content{
        margin-top: 15%;
        padding: 5px 5px;
        margin-left: 1%;
        width: 94%;
    }
    
    .hero .content{
        font-size: 15px;
        color: white;
        padding-bottom: 50px;
    }
    
    footer {
        display: flex;
    }

    /* business */
    .content .add{
        margin-bottom: 5%;
    }
    .content .add p{
        color: green;
    }
    .content .add .bal{
        font-size: 10px;
     }
    .content .add button{
        padding: 10px;
        font-size: 10px;
    }
    .content .row{
        margin-top: 4%;
    }
    .content .row .r1{
        width: 60%;
    }
    .content .row .r2,
    .content .row .dr2{
        width: 40%;
    }
    .content .row .details img{
        width: 30px;
        height: 30px;
    }
    .content .row .details p{
        font-size: 10px;
    }
    .content .row .img img{
        margin-top: 3%;
    }
    .content .row .img img{
        width: 150px;
        height: 150px;
    }
    .content .row .desc p{
        letter-spacing: 1px;
    }
    .content .row .r2 div{
        border: 1px solid green;
        padding: 10px;
        height: 150px;
        text-wrap: wrap;
        width: 100%;
        box-shadow: none;
    }
    .content .row .r2 div p{
        font-size: 10px;
    }
    .content .row .dr2{
        margin-top: 4%;
    }
    .content .row .dr2 div{
        height: 150px;
        text-wrap: wrap;
        width: 250%;
        margin-top: 2%;
    }
    .content .row .dr2 div p{
        font-size: 10px;
    }
    
    /* fixtures */
    .fixtures a{
        padding: 5px;
    }
    .fixtures a .fix{
        justify-content: center;
        gap: 1rem;
    }
    .fixtures a .fix p{
        font-size: 10px;
        color: white;
    }
    .fixtures a .fix .fix1{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .fixtures a .fix .fix1 img,
    .play .p1 img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid white;
    }

    /* details */
    .play .p1{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .play p{
        font-size: 10px;
        color: rgb(14, 240, 14);
        font-weight: bold;
    }
    .play p .win{
        font-size: 10px;
    }
    .users .user{
        padding: 5px;
    }
    .users .user p{
        font-size: 10px;
        color: white;
    }
    .users .user div{
        padding: 5px;
    }
    .users .user .u{
        border: 1px solid white;
    }
    .users .user button{
        background-color: green;
        border: none;
        padding: 10px;
        color: white;
        width: 90%;
        cursor: pointer;
    }



    /* create business modal */
    .busModal .modal-content h2{
        font-size: 15px;
    }
    .busModal .modal-content #submitBusiness{
        padding: 10px;
        font-size: 10px;
    }

    /* voting */
    .content .two{
        margin-top: 10%;
    }
    .content .two p{
        font-size: 13px;
        color: white;
    }
    .content .two .twoinner{
        margin-top: 5%;
        padding-bottom: 20px;
    }
    .content .two .twoinner button{
        width: 35%;
        padding: 7px;
    }
    .content .two .twoinner button:hover,
    .content .two .twoinner .active
    {
        border: 2px solid green;
        background-color: transparent;
        color: white;
    }
    .content .three .player{
        margin-top: 10%;
    }
    .content .three .player .p1{
        width: 60%;
    }
    .content .three .player .p2{
        width: 40%;
    }
    .content .three .player img{
        width: 100%;
        height: 200px;
    }
    .content .three .player p{
        font-size: 10px;
    }
}


/* tab */
@media(min-width: 787px) and (max-width: 1024px) {
    /* login */
    .accounts h1 {
        font-size: 20px;
    }

    .accounts .login .two,
    .accounts .register .two {
        width: 90%;
    }

    .accounts label {
        font-size: 18px;
    }

    .accounts .login .two button,
    .accounts .register .two button {
        padding: 10px;
    }

    .accounts .login .suggest p,
    .accounts .register .suggest p {
        font-size: 14px;
    }

    /* sports */
    .menu-icon {
        display: block;
        margin-right: 7%;
    }

    .hero .bigside-nav{
        display: none;
    }
    
    .navbar .fa-power-off {
        display: none;
    }

    .hero .content{
        padding: 5px 5px;
        margin-left: 1%;
        width: 96%;
        margin-top: 5%;
    }

    .content .two .twoinner{
        padding-bottom: 20px;
    }

    .content .two .twoinner button{
        width: 20%;
    }
}


/* tab */
@media(min-width: 1024px) and (max-width: 1300px) {
    /* sports */
    .menu-icon {
        display: block;
    }

    .hero .bigside-nav{
        display: none;
    }
    
    .navbar .fa-power-off {
        display: none;
    }

    .hero .content{
        padding: 5px 5px;
        margin-left: 1%;
        width: 97%;
    }
}