body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar .navbar-logo img {
    width: 100px;
}

.navbar .logout {
    margin-right: 2%;
}

.navbar .fa-power-off {
    color: white;
}

.menu-icon {
    display: none;
    font-size: 1rem;
    cursor: pointer;
}

/* mobile Side Navigation */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.side-nav ul{
    list-style-type: none;
}

.side-nav ul li{
    padding: 8px 8px 18px 12px;
}

.side-nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.hero{
    display: flex;
}

/* laptop Side Navigation */
.hero .bigside-nav{
    background-color: #333;
    width: 15%;
    padding: 10px;
    height: 100vh;
    position: fixed;
    top: 50px;
}
.hero .bigside-nav ul{
    list-style: none;
}
.hero .bigside-nav ul .nav-item{
    padding: 5px 5px 15px 5px;
}
.hero .bigside-nav .second,
.side-nav .second{
    margin-top: 240px;
}
.hero .bigside-nav .version{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.hero .bigside-nav ul .nav-item .nav-link,
.side-nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 60%;
    text-align: center;
    background-color: green;
    transition: 1s ease;
}
.hero .bigside-nav ul .nav-item .dash,
.side-nav .dash{
    animation: changeColor 5s linear infinite;
}
.hero .bigside-nav ul .nav-item .nav-link:hover{
    border: 2px solid green;
    background: transparent;
    color: white;
    width: 70%;
}
.hero .bigside-nav ul .nav-item .active,
.side-nav ul li .active{
    color: black;
}
.hero .content{
    margin-top: 3%;
    padding: 5px 20px;
    margin-left: 16%;
    width: 81%;
}
.content .add{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .add .bal{
   font-size: 20px;
   font-weight: bold;
}
.content .add button{
    border: none;
    background-color: green;
    color: white;
    padding: 15px;
    cursor: pointer;
    animation: changeColor 3s linear infinite;
    display: inline-block;
}
.content .one p{
    font-size: 20px;
}
.content .one p .name{
    font-weight: bold;
    color: green;
}
.content .two{
    margin-top: 5%;
}
.content .two p{
    font-size: 18px;
}
.content .two .twoinner{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.content .two .twoinner button{
    flex-shrink: 0;
    border: none;
    background-color: green;
    padding: 15px;
    display: inline-block;
    width: 10%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
.content .two .twoinner button:hover,
.content .two .twoinner .active
{
    border: 1px solid green;
    background-color: transparent;
    color: black;
}
.content .three{
    margin-top: 2%;
}
.content .three a{
    margin: 10px;
}
.content .three .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 3s ease;
}
.content .three .row{
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
}
.content .three .row .r2 img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: white;
}

.content .three #club,
.content .three #international,
.content .three #national, .content .three #england, .content .three #spain, .content .three #germany,
.content .three #france, .content .three #italy{
    display: none;
}

.content .business{
    padding-bottom: 10px;
    border-bottom: 2px dotted green;
}
.content .row{
    margin-top: 2%;
    display: flex;
}
.content .row .r1{
    width: 70%;
}
.content .row .r2,
.content .row .dr2{
    width: 30%;
}
.content .row .details{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content .row .details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid green;
}
.content .row .details p{
    font-size: 15px;
    font-weight: bold;
}
.content .row .details span{
    color: green;
}
.content .row .img img{
    width: 200px;
    height: 250px;
    margin-top: 2%;
}
.content .row .desc p{
    letter-spacing: 2px;
}
.content .row .r2{
    display: flex;
    justify-content: end;
}
.content .row .r2 div{
    border: 1px solid green;
    padding: 10px;
    height: 250px;
    text-wrap: wrap;
    width: 50%;
    box-shadow: 3px 2px 13px rgb(14, 240, 14);
}
.content .row .r2 div p span{
    color: green;
}
.content .row .img2 img{
    width: 100%;
    height: 100%;
    margin-top: 2%;
}
.content .row .dr2{
    perspective: 1000px;
    position: relative;
    width: 300px;
    height: 200px; 
    margin-bottom: 2%;
}
.dr2 .contact, .dr2 .img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
    background: #f3f3f3;
    padding: 10px;
}
.content .row .dr2 div p{
    color: black;
}
.content .row .dr2 div p span{
    color: green;
}
.dr2 .contact {
    transform: rotateY(180deg);
}

.dr2.flip .img2 {
    transform: rotateY(180deg);
}

.dr2.flip .contact {
    transform: rotateY(0deg);
}

/* voting */
.content .three .player{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    display: flex;
    gap: .3rem;
}
.content .three .player img{
    width: 90%;
    height: 320px;
    animation: bounce 1s ease-in-out infinite;
}
.content .three .player p span{
    color: green;
    font-weight: bold;
}

/* fixtures */
.fixtures{
    margin-top: 5%;
}
.fixtures a{
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: 2s;
    border: 1px solid green;
    margin-bottom: 5%;
}
.fixtures a:hover{
    background-color: green;
}
.fixtures a:hover .fix p{
    color: white;
}
.fixtures a:hover .fix1 img{
    border: 2px solid white;
}
.fixtures a .fix{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.fixtures a .fix p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.fixtures a .fix .fix1{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.fixtures a .fix .fix1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid green;
}

/* details */
.play{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.play .p1{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.play p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.play .vs{
    color: green;
}
.play p .win{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}
.play .p1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid green;
}
.users{
    margin-top: 2%;
}
.users .user{
    border: 2px dotted rgb(14, 240, 14);
    margin-bottom: 5%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.users .user p{
    font-size: 20px;
    color: black;
}
.users .user p .price{
    font-size: 15px;
    color: green;
}
.users .user div{
    width: 35%;
}
.users .user .u1{
    text-align: left;
}
.users .user .u13{
    text-align: right;
}
.users .user button{
    background-color: green;
    border: none;
    padding: 15px;
    color: white;
    width: 50%;
    cursor: pointer;
}

/* create business modal */
.playModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.playModal .modal-content {
    background-color: black;
    margin: auto;
    margin-top: 12%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.playModal .modal-content .sucess {
    margin-top: 15%;
    text-align: center;
}

.playModal .modal-content .sucess .fa-check{
    font-size: 50px;
    color: rgb(14, 240, 14);
}
.playModal .modal-content .sucess .bet{
    font-size: 20px;
    margin-top: 15%;
}

.playModal .modal-content .sucess {
    color: white;
}

/* deposit modal */
.depoModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.depoModal .modal-content {
    background-color: black;
    margin: auto;
    margin-top: 12%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.busModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.busModal .modal-content {
    background-color: black;
    margin: auto;
    margin-top: 8%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.busModal .modal-content .form-group,
.depoModal .modal-content .form-group{
    margin: 10px;
}
.busModal .modal-content .form-group label,
.depoModal .modal-content .form-group label{
    color: white;
    font-size: 12px;
}
.busModal .modal-content h2,
.depoModal .modal-content h2{
    color: white;
    font-size: 20px;
}
.depoModal .modal-content p,
.busModal .modal-content p{
    color: green;
}
.busModal .modal-content .form-group input,
.depoModal .modal-content .form-group input,
.busModal .modal-content .form-group textarea,
.modal-content .form-group select{
    outline: none;
    border: none;
    background: transparent;
    width: 95%;
    padding: 10px;
    color: white;
    border-bottom: 1px solid green;
}

.busModal .modal-content .form-group input:focus,
.busModal .modal-content .form-group textarea:focus{
    background: transparent;
}

.busModal .modal-content .btn{
    margin-top: 5%;
}

.busModal .busclose,
.playModal .playclose,
.depoModal .depoclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.busModal .busclose:hover,
.busModal .busclose:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}
.busModal .modal-content #submitBusiness,
.busModal .modal-content #submitVote,
.depoModal .modal-content #submitDepo{
    border: none;
    width: 100%;
    background-color: green;
    color: white;
    transition: 1s ease;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.busModal .modal-content #submitBusiness:hover, 
.depoModal .modal-content #submitDepo:hover,
.busModal .modal-content #submitVote:hover {
    background-color: transparent;
    color: white;
    border: 2px solid green;
}

/* history */
.content .history{
    margin-top: 5%;
}
.content .history .hist{
    margin-bottom: 5%;
    border: 2px dotted green;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.content .history .p1{
    font-size: 20px;
    font-weight: bold;
}
.content .history .p2{
    color: green;
}
.content .history .d2{
    text-align: right;
}

/* subscription */
.content .subs{
    margin-top: 10%;
    padding: 10px;
}
.content .subs .sub{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.content .subs .sub div{
    text-align: center;
    padding: 10px;
    border: 1px solid green;
    width: 30%;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s ease;
}
.content .subs .sub div img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 5%;
    margin-top: 2%;
}
.content .subs .sub div .plan{
    font-size: 25px;
    font-weight: bold;
}
.content .subs .sub div .price{
    color: green;
    font-size: 20px;
    margin-bottom: 15%;
}
.content .subs .sub div button{
    border: none;
    width: 100%;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color: white;
    display: block;
    margin-bottom: 5%;
    cursor: pointer;
}
.content .subs .sub .sub2{
    background-color: green;
    color: white;
}
.content .subs .sub .sub2 .price{
    color: white;
}
.content .subs .sub .sub2 button{
    background-color: white;
    color: green;
}
.content .subs .sub div:hover{
    background-color: green;
    color: white;
}
.content .subs .sub div:hover .price{
    color: white;
}
.content .subs .sub div:hover button{
    background-color: white;
    color: green;
}
.content .subs .sub .sub2:hover{
    background-color: white;
    color: green;
}
.content .subs .sub .sub2:hover .price{
    color: green;
}
.content .subs .sub .sub2:hover button{
    background-color: green;
    color: white;
}


/* profile */
.content .profile, .content .others{
    margin-top: 2%;
    margin-bottom: 4%;
}
.content .profile .p1{
    text-align: center;
}
.content .profile .p1 p{
    border: 1px solid green;
    padding: 20px;
    background-color: #333;
    color: green;
    font-weight: bold;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    border-radius: 50px;
}
.content .profile .p1 img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid green;
    border-radius: 50px;
}

.content .profile .p2 .intro,
.content .profile .p3 .intro{
    margin-bottom: 3%;
}
.content .profile .p2 .intro p,
.content .profile .p3 .intro p{
    font-size: 20px;
    font-weight: bold;
}
.content .profile .p2 .intro p .i1{
    color: green;
    font-weight: lighter;
}
.content .profile .p2 .form-group,
.content .profile .p3 .form-group{
    margin-bottom: 3%;
}
.content .profile .p2 .form-group input,
.content .profile .p3 .form-group input {
    padding: 10px;
    color: green;
    width: 95%;
    outline: none;
    border: none;
    border-bottom: 1px solid green;
    background: transparent;
}
.content .profile .p2 button,
.content .profile .p3 button{
    border: none;
    width: 100%;
    background-color: green;
    color: white;
    transition: 1s ease;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.content .profile .p2 button:hover,
.content .profile .p3 button:hover {
    background-color: transparent;
    color: black;
    border: 2px solid green;
}
.content .others .ot1{
    margin-bottom: 2%;
}
.content .others .ot1 p{
    font-weight: bold;
}
.content .others .ot1 button{
    border: none;
    width: 30%;
    background-color: green;
    color: white;
    transition: 1s ease;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.content .others .ot1 .del{
    background-color: rgb(119, 4, 4);
}
.content .others .ot1 .con{
    background-color: rgb(29, 122, 227);
}
.content .others .ot1 .log{
    background-color: rgb(146, 146, 5);
    color: black;
}
.content .others .ot1 .top{
    color: white;
    background-color: #333;
}

/* contact */
.content .support{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    align-items: center;
}
.content .support .sup1,
.content .support .sup2{
    width: 50%;
}
.content .support .sup2{
    text-align: right;
}
.content .support .form-group,
.content .support .form-group{
    margin-bottom: 3%;
}
.content .support .form-group input,
.content .support .form-group textarea {
    padding: 10px;
    color: green;
    width: 95%;
    outline: none;
    border: 1px solid green;
    background: transparent;
}
.content .support button{
    border: none;
    width: 100%;
    background-color: green;
    color: white;
    transition: 1s ease;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.content .support button:hover {
    background-color: transparent;
    color: black;
    border: 2px solid green;
}

footer {
    display: none;
    justify-content: space-around;
    background-color: green;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sup2 .topic{ color: green; font-weight: bold; }

footer a {
    color: white;
}
footer div .active {
    color: black;
}

@keyframes changeColor {
    0%, 100%{
        background-color: green;
        color: white;
    }40%, 60%{
        background-color: rgb(14, 240, 14);
        color: black;
    }20%, 90%{
        background-color: rgb(90, 227, 21);
        color: black;
    }
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}