body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    padding: 10px 20px 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar .navbar-logo img {
    width: 100px;
}

.navbar .logout {
    margin-right: 2%;
}

.navbar .fa-power-off {
    color: white;
}

.menu-icon {
    display: none;
    font-size: 1rem;
    cursor: pointer;
}

/* mobile Side Navigation */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.side-nav ul{
    list-style-type: none;
}

.side-nav ul li{
    padding: 8px 8px 18px 12px;
}

.side-nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.hero{
    display: flex;
}

/* laptop Side Navigation */
.hero .bigside-nav{
    background-color: #333;
    width: 15%;
    padding: 10px;
    height: 100vh;
    position: fixed;
    top: 50px;
}
.hero .bigside-nav ul{
    list-style: none;
}
.hero .bigside-nav ul .nav-item{
    padding: 5px 5px 15px 5px;
}
.hero .bigside-nav .second,
.side-nav .second{
    margin-top: 240px;
}
.hero .bigside-nav .version{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.hero .bigside-nav ul .nav-item .nav-link,
.side-nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 60%;
    text-align: center;
    background-color: green;
    transition: 1s ease;
}
.hero .bigside-nav ul .nav-item .dash,
.side-nav .dash{
    animation: changeColor 5s linear infinite;
}
.hero .bigside-nav ul .nav-item .nav-link:hover{
    border: 2px solid green;
    background: transparent;
    color: white;
    width: 70%;
}
.hero .content{
    margin-top: 3%;
    padding: 5px 20px;
    margin-left: 16%;
    width: 81%;
}
.content .add{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.content .add button{
    border: none;
    background-color: green;
    color: white;
    padding: 15px;
    cursor: pointer;
    animation: changeColor 3s linear infinite;
}
.content .one p{
    font-size: 20px;
}
.content .one p .name{
    font-weight: bold;
    color: green;
}
.content .two{
    margin-top: 5%;
}
.content .two p{
    font-size: 18px;
}
.content .two .twoinner{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.content .two .twoinner button{
    flex-shrink: 0;
    border: none;
    background-color: green;
    padding: 15px;
    display: inline-block;
    width: 10%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
.content .two .twoinner button:hover,
.content .two .twoinner .active
{
    border: 1px solid green;
    background-color: transparent;
    color: black;
}
.content .three{
    margin-top: 2%;
}
.content .three a{
    margin: 10px;
}
.content .three .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 3s ease;
}
.content .three .row{
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
}
.content .three .row .r2 img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: white;
}

.content .three #club,
.content .three #international,
.content .three #national{
    display: none;
}

.content .business{
    padding-bottom: 10px;
    border-bottom: 2px dotted green;
}
.content .row{
    margin-top: 2%;
    display: flex;
}
.content .row .r1{
    width: 70%;
}
.content .row .r2,
.content .row .dr2{
    width: 30%;
}
.content .row .details{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content .row .details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid green;
}
.content .row .details p{
    font-size: 15px;
    font-weight: bold;
}
.content .row .details span{
    color: green;
}
.content .row .img img{
    width: 200px;
    height: 250px;
    margin-top: 2%;
}
.content .row .desc p{
    letter-spacing: 2px;
}
.content .row .r2{
    display: flex;
    justify-content: end;
}
.content .row .r2 div{
    border: 1px solid green;
    padding: 10px;
    height: 250px;
    text-wrap: wrap;
    width: 50%;
    box-shadow: 3px 2px 13px rgb(14, 240, 14);
}
.content .row .r2 div p span{
    color: green;
}
.content .row .img2 img{
    width: 100%;
    height: 100%;
    margin-top: 2%;
}
.content .row .dr2{
    perspective: 1000px;
    position: relative;
    width: 300px;
    height: 200px; 
    margin-bottom: 2%;
}
.dr2 .contact, .dr2 .img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
    background: #f3f3f3;
    padding: 10px;
}
.content .row .dr2 div p{
    color: black;
}
.content .row .dr2 div p span{
    color: green;
}
.dr2 .contact {
    transform: rotateY(180deg);
}

.dr2.flip .img2 {
    transform: rotateY(180deg);
}

.dr2.flip .contact {
    transform: rotateY(0deg);
}

/* create business modal */
.busModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.busModal .modal-content {
    background-color: black;
    margin: auto;
    margin-top: 8%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.busModal .modal-content .form-group{
    margin: 10px;
}
.busModal .modal-content .form-group label{
    color: white;
    font-size: 12px;
}
.busModal .modal-content h2{
    color: white;
    font-size: 20px;
}
.busModal .modal-content p{
    color: green;
}
.busModal .modal-content .form-group input,
.busModal .modal-content .form-group textarea{
    outline: none;
    border: none;
    background: transparent;
    width: 95%;
    padding: 10px;
    color: white;
    border-bottom: 1px solid green;
}
.busModal .modal-content .btn{
    margin-top: 5%;
}

.busModal .busclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.busModal .busclose:hover,
.busModal .busclose:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}
.busModal .modal-content #submitBusiness{
    border: none;
    width: 100%;
    background-color: green;
    color: white;
    transition: 1s ease;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.busModal .modal-content #submitBusiness:hover {
    background-color: transparent;
    color: white;
    border: 2px solid green;
}

footer {
    display: none;
    justify-content: space-around;
    background-color: green;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

@keyframes changeColor {
    0%, 100%{
        background-color: green;
        color: white;
    }40%, 60%{
        background-color: rgb(14, 240, 14);
        color: black;
    }20%, 90%{
        background-color: rgb(90, 227, 21);
        color: black;
    }
}